<!DOCTYPE html>
<html>
<head>
    <title>Documentation de l'API</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Documentation de l'API</h1>
        <h2>Endpoints</h2>
        <ul>
            <li><strong>GET /catways</strong> - Lister tous les catways</li>
            <li><strong>GET /catways/:id</strong> - Récupérer les détails d'un catway</li>
            <li><strong>POST /catways</strong> - Créer un nouveau catway</li>
            <li><strong>PUT /catways/:id</strong> - Modifier un catway</li>
            <li><strong>PATCH /catways/:id</strong> - Modifier partiellement un catway</li>
            <li><strong>DELETE /catways/:id</strong> - Supprimer un catway</li>
            <li><strong>GET /catways/:id/reservations</strong> - Lister toutes les réservations pour un catway</li>
            <li><strong>GET /catways/:id/reservations/:idReservation</strong> - Récupérer les détails d'une réservation</li>
            <li><strong>POST /catways/:id/reservations</strong> - Créer une nouvelle réservation</li>
            <li><strong>DELETE /catways/:id/reservations/:idReservation</strong> - Supprimer une réservation</li>
        </ul>
    </div>
</body>
</html>
