<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>
<body>
    <h1>Welcome to the Marina API</h1>
    <p>This is the homepage of the Marina API.</p>
    <a href="/login">Login</a>
    <a href="/signup">Signup</a>
    <a href="/documentation">API Documentation</a>
</body>
</html>
