<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un nouveau Catway</title>
</head>
<body>
    <h1>Ajouter un nouveau Catway</h1>
    <form action="/catways" method="post">
        <div>
            <label for="catwayNumber">Numéro du Catway:</label>
            <input type="number" id="catwayNumber" name="catwayNumber" required>
        </div>
        <div>
            <label for="type">Type:</label>
            <select id="type" name="type" required>
                <option value="long">Long</option>
                <option value="short">Court</option>
            </select>
        </div>
        <div>
            <label for="catwayState">État:</label>
            <input type="text" id="catwayState" name="catwayState" required>
        </div>
        <button type="submit">Ajouter</button>
    </form>
    <a href="/catways">Retour à la liste des catways</a>
</body>
</html>
